<div class="footer py-3 mt-3 fixed-bottom">
    <div class="container text-center ">
        <span class="text-muted">
            Copyright © @DateTime.Now.Year All Rights Reserved
        </span>

    </div>

</div>