@model IEnumerable<Tuik>
    <div class="row">
        <div class="col-md-3">
           @* @Html.Partial("_menu")  *@ 
           @await Component.InvokeAsync("CategoryMenu") 
        </div>
        <div class="col-md-9">
            @Html.Partial("_tuiks",Model)
        </div>  
    </div>
